@model string

<div class="alert alert-secondary alert-dismissible my-0 mt-4 fade show" role="alert">
    <div>@Model</div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>