@using Kentico.Community.Portal.Web.Features.Accounts

@model AvatarFormViewModel

<div id="avatarForm" class="d-flex flex-column justify-content-between h-100">
    <div class="d-flex justify-content-center align-items-center flex-grow-1">
        <vc:avatar member-id="Model.MemberID" />
    </div>

    <form id="avatarImageUpdateForm" method="post" hx-post hx-controller="Account" hx-action="UpdateAvatarImage"
        hx-target="#avatarForm" hx-disabled-elt="find fieldset" enctype="multipart/form-data">
        <fieldset hx-indicator="this" xpc-readonly-disabled>
            <div asp-validation-summary="All" class="text-danger field-validation-error"></div>

            <div class="form-group">
                <label asp-for="AvatarImageFileAttachment" class="form-label mt-3"></label>
                <div class="d-flex">
                    <label asp-for="AvatarImageFileAttachment"
                        class="btn btn-outline-secondary">ATTACH&nbsp;FILE</label>
                    <input class="form-control" asp-for="AvatarImageFileAttachment"
                        accept="@AvatarFormViewModel.ALLOWED_EXTENSIONS_JOINED" />
                </div>
            </div>

            <div class="d-flex justify-content-between align-items-center gap-3 mt-3">
                <button id="updateImage" type="submit" class="btn btn-primary" xpc-loading-button>
                    Update avatar
                </button>
                <div>
                    <p>
                        <small>Recommended dimensions: 200x200 px.</small><br>
                        <small>Max file size: @(AvatarFormViewModel.MAX_FILE_SIZE / 1024) KB.</small><br>
                        <small>Allowed image types: @AvatarFormViewModel.ALLOWED_EXTENSIONS_JOINED</small>
                    </p>
                </div>
            </div>

            <vc:read-only-mode-notification />
        </fieldset>

        @if (Context.Request.IsHtmx() && ViewContext.ModelState.IsValid)
        {
            <xpc-alert dismissable="true">
                Avatar updated.
            </xpc-alert>
        }
    </form>
</div>