@using Kentico.Community.Portal.Web.Features.Accounts

@model UpdatePasswordViewModel

<form id="passwordUpdateForm" method="post" hx-post hx-controller="Account" hx-action="UpdatePassword"
    hx-swap="outerHTML" hx-disabled-elt="find fieldset" test-id="passwordUpdate">
    <fieldset hx-indicator="this" xpc-readonly-disabled>
        <div asp-validation-summary="ModelOnly" class="text-danger validation-summary"></div>

        <div class="form-group">
            <div class="editing-form-label-cell">
                <label asp-for="CurrentPassword" class="control-label form-label mt-3"></label>
            </div>
            <div class="editing-form-value-cell">
                <input asp-for="CurrentPassword" class="form-control" test-id="currentPassword">
                <span asp-validation-for="CurrentPassword" class="text-danger field-validation-error"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="editing-form-label-cell">
                <label asp-for="NewPassword" class="control-label form-label mt-3"></label>
            </div>
            <div class="editing-form-value-cell">
                <input asp-for="NewPassword" class="form-control" test-id="newPassword">
                <span asp-validation-for="NewPassword" class="text-danger field-validation-error"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="editing-form-label-cell">
                <label asp-for="PasswordConfirmation" class="control-label form-label mt-3"></label>
            </div>
            <div class="editing-form-value-cell">
                <input asp-for="PasswordConfirmation" class="form-control" test-id="passwordConfirmation">
                <span asp-validation-for="PasswordConfirmation" class="text-danger field-validation-error"></span>
            </div>
        </div>

        <button id="updatePassword" type="submit" class="btn btn-primary mt-3" xpc-loading-button>
            Update password
        </button>

        <vc:read-only-mode-notification />
    </fieldset>

    @if (Context.Request.IsHtmx() && ViewContext.ModelState.IsValid)
    {
        <xpc-alert dismissable="true">
            Password updated.
        </xpc-alert>
    }
</form>