@using Kentico.Community.Portal.Web.Features.Accounts

@model ProfileViewModel

<form id="profileUpdateForm" method="post" hx-post hx-controller="Account" hx-action="UpdateProfile" hx-swap="outerHTML"
    test-id="profileUpdate">
    <div class="form-horizontal">

        <div asp-validation-summary="ModelOnly" class="text-danger validation-summary"></div>

        <div class="form-group">
            <div class="editing-form-label-cell">
                <label asp-for="FirstName" class="control-label form-label mt-3"></label>
            </div>
            <div class="editing-form-value-cell">
                <input asp-for="FirstName" class="form-control" test-id="firstName">
                <span asp-validation-for="FirstName" class="text-danger field-validation-error"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="editing-form-label-cell">
                <label asp-for="LastName" class="control-label form-label mt-3"></label>
            </div>
            <div class="editing-form-value-cell">
                <input asp-for="LastName" class="form-control" test-id="lastName">
                <span asp-validation-for="LastName" class="text-danger field-validation-error"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="editing-form-label-cell">
                <label asp-for="LinkedInIdentifier" class="control-label form-label mt-3"></label>
                <span class="c-tooltip" tabindex="0" data-bs-toggle="tooltip" data-bs-placement="right"
                    title="The last segment of your LinkedIn profile URL. This should not be the full URL. Ex: the 'abc' in https://www.linkedin.com/in/abc">
                    <svg class="c-icon ">
                        <use xlink:href="/img/icons.svg#i-circle" asp-append-version></use>
                    </svg>
                </span>
            </div>
            <div class="editing-form-value-cell">
                <input asp-for="LinkedInIdentifier" class="form-control" test-id="linkedInIdentifier">
                <span asp-validation-for="LinkedInIdentifier" class="text-danger field-validation-error"></span>
            </div>
        </div>

        <button id="updateProfile" type="submit" class="btn btn-primary mt-3">@HtmlLocalizer["Update Profile"]</button>

        @if (Model.State == UpdateState.Updated)
        {
            <p class="mt-3">Your profile has been updated successfully.</p>
        }
    </div>
</form>