@using Kentico.Community.Portal.Web.Components.Widgets.Embed
@model Kentico.Community.Portal.Web.Components.Widgets.Embed.EmbedWidgetViewModel

@{
    string alignmentClasses = Model.HorizontalAlignment switch
    {
        HorizontalAlignments.Center => "text-center",
        HorizontalAlignments.Right => "text-end",
        HorizontalAlignments.Left or _ => "text-start"
    };

    string widthClasses = (Model.ComponentWidth, Model.Type) switch
    {
        (ComponentWidths.Full, TagType.Video) => "full-width",
        (ComponentWidths.Natural, _) or _ => ""
    };

    string typeClasses = Model.Type switch
    {
        TagType.Video => "embed-container video-embed",
        TagType.Social => "embed-container social-embed",
        TagType.Other or _ => "embed-container",
    };
}

<div class="@typeClasses @alignmentClasses @widthClasses">
    @Model.HTML
</div>
