@using Kentico.Community.Portal.Web.Features.Blog

@model ComponentViewModel<BlogLandingPageTemplateProperties>

<vc:blog-landing-page-heading page="Model.Page" />

<main>
    <vc:blog-post-list />
</main>