@using Kentico.Community.Portal.Web.Features.Blog

@model TemplateViewModel<BlogLandingPageTemplateProperties>

@{
    var templateModel = Model.GetTemplateModel<BlogLandingPage>();
}

<vc:page-heading page="new(templateModel)" />

<main>
    <vc:blog-search />
</main>