@using Kentico.Community.Portal.Web.Features.Community

@model ComponentViewModel<CommunityLandingPageTemplateProperties>

<vc:community-landing-page page="Model.Page" />

<main>
    <editable-area area-identifier="top" allow-widget-output-cache="View.CacheEnabled"
        widget-output-cache-expires-after="TimeSpan.FromMinutes(5)" />
</main>