@using Kentico.Community.Portal.Web.Features.Community

@model TemplateViewModel<CommunityLandingPageTemplateProperties>

@{
    var templateModel = Model.GetTemplateModel<CommunityLandingPageViewModel>();
}

<vc:page-heading page="templateModel.Page" />

<main>
    <editable-area area-identifier="top" allow-widget-output-cache="View.CacheEnabled"
        widget-output-cache-expires-after="TimeSpan.FromMinutes(5)" />
</main>