<RunSettings>
    <!-- General run configuration -->
    <RunConfiguration>
        <!-- https://learn.microsoft.com/en-us/visualstudio/test/configure-unit-tests-by-using-a-dot-runsettings-file?view=vs-2022#example-runsettings-file -->
        <TestCaseFilter>FullyQualifiedName!~E2E.Tests</TestCaseFilter>
    </RunConfiguration>
</RunSettings>