<RunSettings>
    <!-- General run configuration -->
    <RunConfiguration>
        <!-- https://learn.microsoft.com/en-us/dotnet/core/testing/selective-unit-tests?pivots=nunit#nunit-examples -->
        <TestCaseFilter>FullyQualifiedName!~E2E.Tests</TestCaseFilter>
    </RunConfiguration>
</RunSettings>