@using Kentico.Community.Portal.Web.Components.Widgets.Heading
@using Microsoft.AspNetCore.Mvc.Rendering
@using System.Text.Encodings.Web

@model HeadingWidgetViewModel

@{
    var (open, close) = Model.HeadingLevel switch
    {
        HeadingLevels.H1 => ($"""<h1 id="{Model.HeadingAnchorSlug}" class="heading">""", "</h1>"),
        HeadingLevels.H2 => ($"""<h2 id="{Model.HeadingAnchorSlug}" class="heading">""", "</h2>"),
        HeadingLevels.H3 => ($"""<h3 id="{Model.HeadingAnchorSlug}" class="heading">""", "</h3>"),
        HeadingLevels.H4 => ($"""<h4 id="{Model.HeadingAnchorSlug}" class="heading">""", "</h4>"),
        HeadingLevels.H5 => ($"""<h5 id="{Model.HeadingAnchorSlug}" class="heading">""", "</h5>"),
        HeadingLevels.H6 or _ => ($"""<h6 id="{Model.HeadingAnchorSlug}">""", "</h6>"),
    };
}

<div xpc-preview-outline="@Model.ComponentName">
    @Html.Raw(open)
    @{
        @Model.HeadingText
        if (Model.HeadingAnchorSlug.TryGetValue(out string? slug))
        {
            <a title="Copy link to heading" class="heading-link" href="#@(slug)"></a>
        }
    }
    @Html.Raw(close)
</div>