<?xml version="1.0" encoding="utf-8"?>
<RepositoryConfiguration xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

     <RestoreMode>CreateUpdate</RestoreMode>

     <IncludedObjectTypes>
     </IncludedObjectTypes>

     <ExcludedObjectTypes>
          <ObjectType>cms.user</ObjectType>
          <ObjectType>cms.userrole</ObjectType>
          <ObjectType>cms.settingskey</ObjectType>
          <ObjectType>kenticocommunity.qandaanswerdata</ObjectType>
          <!-- <ObjectType>cms.channel</ObjectType> -->
     </ExcludedObjectTypes>

     <ObjectFilters>
          <!-- <ExcludedCodeNames ObjectType="cms.webpageitem">%-localtest</ExcludedCodeNames>
          <ExcludedCodeNames ObjectType="cms.contentitem">%-localtest</ExcludedCodeNames> -->
     </ObjectFilters>

</RepositoryConfiguration>