<?xml version="1.0" encoding="utf-8"?>
<RepositoryConfiguration xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

     <RestoreMode>CreateUpdate</RestoreMode>

     <IncludedObjectTypes>
          <ObjectType>cms.contenttype</ObjectType>
          <ObjectType>cms.webpagescopecontenttype</ObjectType>
          <ObjectType>cms.webpagescope</ObjectType>
          <ObjectType>cms.channel</ObjectType>
     </IncludedObjectTypes>

     <ExcludedObjectTypes>
          <ObjectType>cms.websitecaptchasettings</ObjectType>
     </ExcludedObjectTypes>

     <ObjectFilters>
          <IncludedCodeNames ObjectType="cms.channel">
               devnet;
          </IncludedCodeNames>

          <IncludedCodeNames ObjectType="cms.contenttype">
               KenticoCommunity.BlogPostPage;
               KenticoCommunity.BlogPostContent;
          </IncludedCodeNames>
     </ObjectFilters>

</RepositoryConfiguration>