@using Kentico.Community.Portal.Web.Features.LandingPages

@model TemplateViewModel<LandingPageEmptyTemplateProperties>

<main>
    <editable-area area-identifier="top" allow-widget-output-cache="View.CacheEnabled"
        widget-output-cache-expires-after="TimeSpan.FromMinutes(5)" />
</main>