<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="CMSTestConnectionString" connectionString="Data Source=localhost;Initial Catalog=Kentico.Community;User Id=sa;Password=Pass@12345;Persist Security Info=False;Connect Timeout=10;Encrypt=False;Current Language=English;TrustServerCertificate=True;"/>
	</connectionStrings>
</configuration>