@using Kentico.Community.Portal.Web.Components.ViewComponents.Avatar

@model AvatarViewModel

@{
    string avatarClasses = Model.Size switch
    {
        AvatarSize.Small => "border-1",
        AvatarSize.Normal or _ => "border-5"
    };

    string avatarSizeToken = Model.Size switch
    {
        AvatarSize.Small => "--avatar-size",
        AvatarSize.Normal or _ => "--size-profile-medium"
    };
}

<div class="@avatarClasses border d-flex justify-content-center align-items-center rounded-circle overflow-hidden"
    style="width: var(@avatarSizeToken); height: var(@avatarSizeToken); border-color: var(--color-purple-300);">
    <img src="" class="img-fluid" xpc-member-avatar="@Model.MemberID" alt="Avatar Image" />
</div>