@using Kentico.Community.Portal.Web.Components.PageBuilder.Widgets.BlogPostList
@using Kentico.Community.Portal.Web.Features.Blog

@model BlogPostListWidgetViewModel

<div xpc-preview-outline="@Model.ComponentName">
    @if (Model.Heading.TryGetValue(out string? heading))
    {
        <h3>@heading</h3>
    }

    @if (Model.Layout == ItemLayout.Minimal)
    {
        <partial name="BlogPostList_Minimal" model="Model" />
    }
    else if (Model.Layout == ItemLayout.Full)
    {
        <partial name="BlogPostList_Full" model="Model" />
    }
</div>