<div class="c-section default" xpc-preview-outline="Two Column Section">
    <div class="container">
        <div class="c-layout">
            <aside class="c-layout_sidebar">
                <widget-zone zone-name="side-panel" />
            </aside>
            <div role="main" class="c-layout_main">
                <widget-zone zone-name="main" />
            </div>
        </div>
    </div>
</div>
