<div class="alert alert-success" role="alert">
    Your question has been successfully submitted!<br><br>
    It may take a few moments for the <a href="/q-and-a">Q&A listing</a> to update, don't worry if you don't see it
    right away.
</div>
