@model Kentico.Community.Portal.Web.Components.PageBuilder.Widgets.LinkList.LinkListWidgetViewModel

<div class="c-card sidebar default-border mb-5" xpc-preview-outline="Link List Widget">
    <div class="c-card_inner">
        @if (!string.IsNullOrWhiteSpace(Model.Label))
        {
            <div class="c-card_title mb-4">
                <h4>
                    @Model.Label
                </h4>
            </div>
        }

        @for (int i = 0; i < Model.Links.Count; i++)
        {
            var link = Model.Links[i];
            string headingClass = i == 0
            ? ""
            : "mt-4";

            <h4 class="h4 @headingClass text-primary">
                <a href="@link.LinkContentPathOrURL" id="link-@link.SystemFields.ContentItemGUID.ToString("N")">
                    @link.LinkContentLabel
                </a>
            </h4>

            <p class="mt-3">
                @link.LinkContentShortDescription
            </p>
        }
    </div>
</div>
