@using Kentico.Community.Portal.Web.Features.Blog.Search

@model BlogSearchViewModel

@{
    string formID = "blogSearchForm";
}

<div class="c-section">
    <div class="container">

        <form id="@formID" method="get" hx-get="/blog" hx-swap="outerHTML" hx-select="#@formID" hx-push-url="true"
            hx-trigger="change from:input[type='checkbox'], change from:select, submit">
            <fieldset class="grid">
                <partial name="~/Features/Blog/Search/_Filters.cshtml" model="Model" />

                <div class="g-col-12 g-col-lg-9 d-flex gap-3 flex-column">
                    <partial name="~/Features/Blog/Search/_FiltersMobile.cshtml" model="Model" />

                    <partial name="~/Features/Blog/Search/_Results.cshtml" model="Model" />
                </div>
            </fieldset>

            <script type="module">
                asyncReady(async () => {
                    const path = @JSEncoder.EncodeToJson(ClientAssets.ViteAssetPath("js/search.js"));
                    const search = await import(path);

                    search.initSearch({
                        formElemID: '@formID'
                    });
                });
            </script>
        </form>
    </div>
</div>