@using Kentico.Community.Portal.Web.Features.QAndA

@model QAndAAuthorViewModel

@if (Model.ID == 0)
{
    <div class="d-flex justify-content-start align-items-start">
        <div class="d-flex align-items-center">
            <vc:avatar member-id="Model.ID" size="Small" />
            <span class="ms-1">
                @Model.FormattedName
            </span>
        </div>
    </div>

    return;
}

<div>
    <div class="d-flex justify-content-start align-items-start">
        <a class="d-flex align-items-center" asp-controller="Member" asp-action="MemberDetail"
            asp-route-memberID="@Model.ID">
            <vc:avatar member-id="Model.ID" size="Small" />
            <span class="ms-1">
                @Model.FormattedName
            </span>
        </a>
    </div>
    <vc:member-badges badges=@Model.SelectedBadges />
</div>
