@model Kentico.Community.Portal.Web.Components.Widgets.Image.ImageWidgetViewModel

<figure class="figure" xpc-preview-outline="@Model.ComponentName">
    @if (Model.LinkToFullsizeImage)
    {
        <a href="@Model.Image.URL">
            <picture>
                <img xpc-image="Model.Image" class="img-fluid">
            </picture>
        </a>
    }
    else
    {
        <picture>
            <img xpc-image="Model.Image" class="img-fluid">
        </picture>
    }
    @if (Model.ShowDescriptionAsCaption)
    {
        <figcaption class="figure-caption">
            @Model.Image.AltText
        </figcaption>
    }
</figure>