@model Kentico.Community.Portal.Web.Components.Widgets.Image.ImageWidgetViewModel

<div xpc-preview-outline="@Model.ComponentName">
    <a href="@Model.Image.URL">
        <img xpc-image="Model.Image" class="img-fluid">
    </a>
</div>