@using Kentico.Community.Portal.Web.Features.PasswordRecovery

@model SetNewPasswordViewModel

@if (Context.Request.IsHtmx() && ViewContext.ModelState.IsValid)
{
    <xpc-alert>
        <p>
            Your password has been reset.
        </p>
        <p>
            <a asp-controller="Authentication" asp-action="Login" class="btn btn-primary text-uppercase">Login</a>
        </p>
    </xpc-alert>

    return;
}

<form id="SetNewPassword" method="post" hx-swap="outerHTML" hx-post hx-controller="PasswordRecovery"
    hx-action="SetNewPassword" hx-disabled-elt="find fieldset" test-id="SetNewPassword">
    <fieldset hx-indicator="this">
        <div class="form-group">
            <div class="editing-form-label-cell">
                <label asp-for="Password" class="control-label form-label mt-3"></label>
            </div>
            <div class="editing-form-value-cell">
                <input asp-for="Password" class="form-control" test-id="password">
                <span asp-validation-for="Password" class="text-danger field-validation-error"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="editing-form-label-cell">
                <label asp-for="PasswordConfirmation" class="control-label form-label mt-3"></label>
            </div>
            <div class="editing-form-value-cell">
                <input asp-for="PasswordConfirmation" class="form-control" test-id="passwordConfirmation">
                <span asp-validation-for="PasswordConfirmation" class="text-danger field-validation-error"></span>
            </div>
        </div>

        <input asp-for="UserId" />
        <input asp-for="Token" />

        <button type="submit" class="btn btn-primary mt-3" test-id="changePassword" xpc-loading-button>
            Change password
        </button>
    </fieldset>
</form>