@using Kentico.Community.Portal.Web.Features.PasswordRecovery

@model SetNewPasswordViewModel

@if (Context.Request.IsHtmx() && ViewContext.ModelState.IsValid)
{
    <xpc-alert>
        <p class="mb-3">Your password has been reset.</p>
        <a asp-controller="Authentication" asp-action="Login" class="btn btn-primary">Sign in</a>
    </xpc-alert>
    return;
}

<form id="SetNewPassword" method="post" class="needs-validation" hx-swap="outerHTML" hx-post
    hx-controller="PasswordRecovery" hx-action="SetNewPassword" hx-disabled-elt="find fieldset"
    test-id="SetNewPassword">
    <fieldset hx-indicator="this" xpc-readonly-disabled>
        <div asp-validation-summary="ModelOnly" class="alert alert-danger validation-summary"></div>

        <div class="mb-4">
            <label asp-for="Password" class="form-label"></label>
            <input asp-for="Password" class="form-control rounded-4" test-id="password">
            <span asp-validation-for="Password" class="invalid-feedback"></span>
        </div>

        <div class="mb-4">
            <label asp-for="PasswordConfirmation" class="form-label"></label>
            <input asp-for="PasswordConfirmation" class="form-control rounded-4" test-id="passwordConfirmation">
            <span asp-validation-for="PasswordConfirmation" class="invalid-feedback"></span>
        </div>

        <input asp-for="UserId" type="hidden" />
        <input asp-for="Token" type="hidden" />

        <button type="submit" class="btn btn-primary w-100" xpc-loading-button>
            Set password
        </button>

        <vc:read-only-mode-notification />
    </fieldset>
</form>