@model Kentico.Community.Portal.Web.Features.PasswordRecovery.RequestRecoveryEmailViewModel

<section class="c-section default">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10 col-xxl-9">
                <div class="main">
                    <h1 class="text-center k-dot" after-submit="title">@Model.Title</h1>
                </div>
                <div class="signin-register">
                    <div class="row">
                        <div class="col-md-6 p-6">
                            <div class="form-group-input">
                                <div class="logon-page-background">
                                    <div class="logon-panel">
                                        <partial name="~/Features/PasswordRecovery/_RequestRecoveryEmailForm.cshtml"
                                            model="Model" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>