<section class="c-section default">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10 col-xxl-9">
                <div class="main">
                    <h1 class="text-center k-dot">Reset Password Error</h1>
                    <p class="text-center fs-5">There was a problem with your request. Try logging in or resetting your password again.</p>
                </div>
                <div>
                    <div class="row">
                        <div class="col p-6">
                            <div asp-validation-summary="All" class="text-danger validation-summary"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 zone-light p-6">
                            <h2>@HtmlLocalizer["Reset Password"]</h2>
                            <a id="forgotPassword" asp-action="RequestRecoveryEmail" class="mt-3" test-id="forgotPassword">@HtmlLocalizer["Forgotten your password?"]</a>
                        </div>
                        <div class="col-md-6 zone-light p-6">
                            <h2>@HtmlLocalizer["Login"]</h2>
                            <p>Login to your account.</p>
                            <a id="login" asp-controller="Authentication" asp-action="Login" class="btn btn-secondary btn-default mt-3" test-id="login">@HtmlLocalizer["Login"]</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>