<main class="py-4 py-md-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10 col-xxl-9">
                <header class="text-center mb-4">
                    <h1 class="k-dot">Reset Password Error</h1>
                    <p class="fs-5 mb-4">There was a problem with your request. Try logging in or recovering your
                        password again.</p>
                </header>

                <div class="row g-0 border rounded-4 overflow-hidden">
                    <div class="col-md-6">
                        <div class="p-4 p-lg-5">
                            <h2 class="mb-4">Error details</h2>
                            <div asp-validation-summary="All" class="alert alert-danger validation-summary"></div>
                            <a asp-action="RequestRecoveryEmail" class="btn btn-primary w-100">
                                Try again
                            </a>
                        </div>
                    </div>

                    <div class="col-md-6 bg-light">
                        <div class="p-4 p-lg-5">
                            <h2>Remember your password?</h2>
                            <p class="mb-4">Sign in to your account to continue.</p>
                            <a asp-controller="Authentication" asp-action="Login"
                                class="btn btn-outline-secondary mb-4">Sign in</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>