<xpc-page-builder-content>
  <strong>
    This component needs to be setup or is misconfigured. Please resolve the
    errors below:
  </strong>

  <div asp-validation-summary="All" class="text-danger"></div>
</xpc-page-builder-content>

