@model Kentico.Community.Portal.Web.Components.ViewComponents.Footer.FooterViewModel

<footer class="c-footer" data-ktc-search-exclude>
    <div class="container-xxl">
        <div class="row">
            <div class="col-sm-3">
                <a class="navbar-brand" href="/">
                    <img src="/img/logo.svg" alt="Kentico Community Portal" class="fr-fic fr-dii">
                </a>
            </div>
            <div class="col-sm-8 pe-7 pe-sm-4 pe-md-0">
                <nav>
                    <ul class="nav">
                        <li class="nav-item"><a class="nav-link" href="/privacy">Privacy</a></li>
                        <li class="nav-item"><a class="nav-link" href="/cookies-policy">Cookies policy</a></li>
                        <li class="nav-item">
                            <a class="nav-link" href="/documentation/third-party-software-licenses">
                                3rd party software licenses
                            </a>
                        </li>
                    </ul>
                </nav>

                <p class="c-note mb-0">
                    This site runs on Xperience by Kentico v@(Model.XperienceVersion), Copyright &copy;
                    2004-@DateTime.Now.Date.ToString("yyyy", View.Culture)
                </p>
            </div>
        </div>
    </div>
</footer>