<div class="alert alert-warning" role="alert" test-id="accountModerationMessage">
    <h4 class="alert-heading">Account status</h4>
    <p class="mb-0">
        Your account is currently disabled. Please <a href="/support/feedback" class="alert-link">send us a message</a>
        to have your account re-enabled.
    </p>
</div>