@model Kentico.Community.Portal.Web.Features.Registration.RegisterViewModel

<section class="c-section default">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10 col-xxl-9">
                <div class="main">
                    <h1 class="text-center k-dot">@HtmlLocalizer["Register"]</h1>
                </div>
                <div class="signin-register">
                    <div class="row">
                        <div class="col-md-6 p-6">
                            <h2>@HtmlLocalizer["Register"]</h2>
                            <div class="form-group-input">
                                <div class="logon-page-background">
                                    <div class="logon-panel">
                                        <partial name="~/Features/Registration/_RegisterForm.cshtml" model="Model" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 zone-light p-6">
                            <h2>@HtmlLocalizer["Already have an account?"]</h2>
                            <a asp-controller="Authentication" asp-action="Login" id="signIn" class="btn btn-secondary btn-default mt-3" test-id="signIn">@HtmlLocalizer["Sign in"]</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
