@using Kentico.Community.Portal.Web.Features.Members

@model MemberBadgesViewModel

@{
    if (Model.Badges.Count == 0)
    {
        return;
    }

    string badgeClasses = Model.DisplayStyle switch
    {
        BadgeDisplayStyle.Full => "badge rounded-pill text-dark bg-purple-300 d-flex align-items-center gap-1 fw-medium px-2",
        BadgeDisplayStyle.IconOnly or _ => "",
    };
}

<span class="d-inline-flex wrap gap-1 mt-1 flex-wrap">
    @foreach (var badge in Model.Badges)
    {
        <span class="@badgeClasses" title="@badge.MemberBadgeDescription">
            <img xpc-badge="@badge" />
            @if (Model.DisplayStyle == BadgeDisplayStyle.Full)
            {
                <span>@badge.MemberBadgeDisplayName</span>
            }
        </span>
    }
</span>