<div class="alert alert-warning mt-3 mb-0">
    Some portal features are temporarily unavailable due to an application update.
    For more details, please see Xperience by Kentico's <a
        href="https://docs.kentico.com/x/readonly_deployments_xp">documentation for read-only mode</a>.
</div>