.p-author{
  &_avatar{
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
  }
  &_socials{
    .btn{
      width: 100%;
      &+.btn{
        margin-top: 1rem;
      }
    }
  }

  @include media-breakpoint-up(sm){
    &_socials{
      margin-left: -1rem;
      .btn{
        width: auto;
        margin-right: .25rem;
        padding-left: 1rem;
        padding-right: 1rem;
        &+.btn{
          margin-top: 0;
        }
      }
    }
  }
  @include media-breakpoint-up(md) {
    &_socials {
      .btn {
        margin-right: 1.5rem;
      }
    }
  }
}