.page-member__avatar-image-div {
  width: 10rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #7f09b7;
  overflow: hidden;
}

.page-member__avatar-image {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  display: block;
}

.page-member__avatar {
  display: flex;
  align-items: center;
}

.page-member__avatar-container {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  vertical-align: middle;
}
