.member-generated-content {
  h1,
  h2,
  h3,
  h4 {
    font-size: 1rem;
    margin: 1rem 0;
  }
}

form .editormd-fullscreen {
  top: 6rem;
}

.answer-link {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.page-QandA__avatar-image-sm-div {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #7f09b7;
  overflow: hidden;
}

.page-QandA__avatar-image-sm {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: block;
}

.page-QandA__author {
  display: flex;
  align-items: center;
}

.page-QandA__author-container {
  display: flex;
  justify-content: left;
  align-items: flex-start;
}
