.member-generated-content {
  h1,
  h2,
  h3,
  h4 {
    font-size: 1rem;
  }
}

form .editormd-fullscreen {
  top: 6rem;
}

.answer-link {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
