@model Kentico.Community.Portal.Web.Features.Authentication.LoginViewModel

<form id="signInForm" asp-route-returnUrl='@Context.Request.Query["ReturnUrl"]' method="post" class="needs-validation"
    hx-swap="outerHTML" hx-post hx-controller="Login" hx-route-returnUrl='@Context.Request.Query["ReturnUrl"]'
    hx-disabled-elt="find fieldset" test-id="signIn">
    <fieldset hx-indicator="this" xpc-readonly-disabled>
        <div asp-validation-summary="ModelOnly" class="alert alert-danger validation-summary"></div>

        <div class="mb-4">
            <label asp-for="UserNameOrEmail" class="form-label"></label>
            <input asp-for="UserNameOrEmail" class="form-control rounded-4" test-id="userNameOrEmail">
            <span asp-validation-for="UserNameOrEmail" class="invalid-feedback"></span>
        </div>

        <div class="mb-4">
            <label asp-for="Password" class="form-label"></label>
            <input asp-for="Password" class="form-control rounded-4" test-id="password">
            <span asp-validation-for="Password" class="invalid-feedback"></span>
        </div>

        <div class="mb-4">
            <div class="form-check">
                <input asp-for="StaySignedIn" class="form-check-input" test-id="staySignedIn">
                <label asp-for="StaySignedIn" class="form-check-label"></label>
            </div>
        </div>

        <button type="submit" class="btn btn-primary w-100" xpc-loading-button>
            Sign in
        </button>

        <vc:read-only-mode-notification />
    </fieldset>
</form>