@model Kentico.Community.Portal.Web.Features.Authentication.LoginViewModel

<main class="py-4 py-md-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10 col-xxl-9">
                <header class="text-center mb-4">
                    <h1 class="k-dot">Welcome</h1>
                </header>

                <div class="row g-0 border rounded-4 overflow-hidden">
                    <div class="col-md-6">
                        <div class="p-4 p-lg-5">
                            <h2 class="mb-4">Sign in</h2>
                            <partial name="~/Features/Authentication/_LoginForm.cshtml" model="Model" />
                        </div>
                    </div>

                    <div class="col-md-6 bg-light">
                        <div class="p-4 p-lg-5">
                            <h2>New to the Kentico Community?</h2>
                            <p class="mb-4">It only takes a moment to get started.</p>
                            <a id="register" asp-controller="Registration" asp-action="Register"
                                class="btn btn-outline-secondary mb-4" test-id="register">Register</a>

                            <div class="border-top pt-4">
                                <a id="forgotPassword" asp-controller="PasswordRecovery"
                                    asp-action="RequestRecoveryEmail" test-id="forgotPassword">Forgot your password?</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>