html {
  /* Account for height of sticky header so anchor links work correctly */
  --scroll-padding-top: 6rem;
  scroll-padding-top: var(--scroll-padding-top);
  @include media-breakpoint-up(lg) {
    --scroll-padding-top: 8rem;
  }
}

/* https://www.youtube.com/watch?v=eWmDW4zEXt4 */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

img {
  height: auto;
  width: 100%;
}

/* Default for code blocks with no specified language */
code {
  color: #905;
  font-weight: bolder;
}

small {
  color: $gray-500;
}

/* For paragraphs inside blockquotes. The blockquote already has padding. */
blockquote {
  border-left: 4px solid var(--bs-gray-600);
  padding: 1rem;
  margin: 1rem 0;
  font-style: italic;
  background-color: initial;
  font-size: 1rem;

  > :first-child {
    margin-block-start: 0;
  }
}

.sr-only {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

/* https://www.youtube.com/watch?v=eWmDW4zEXt4 */
p,
li,
figcaption {
  text-wrap: pretty;
}

dl.grid {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5em 1em;

  dt {
    text-align: right;
  }
}

dt {
  font-weight: 500;
}
