$font-path: "/fonts"; // This is the runtime path - see vite.config.js

@font-face {
  font-family: "GT Walsheim Pro";
  src:
    local("GT Walsheim Pro Regular"),
    local("GTWalsheimPro-Regular"),
    url("#{$font-path}/GTWalsheimPro-Regular.woff2") format("woff2"),
    url("#{$font-path}/GTWalsheimPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GT Walsheim Pro";
  src:
    local("GT Walsheim Pro Bold"),
    local("GTWalsheimPro-Bold"),
    url("#{$font-path}/GTWalsheimPro-Bold.woff2") format("woff2"),
    url("#{$font-path}/GTWalsheimPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "GT Walsheim Pro";
  src:
    local("GT Walsheim Pro Medium"),
    local("GTWalsheimPro-Medium"),
    url("#{$font-path}/GTWalsheimPro-Medium.woff2") format("woff2"),
    url("#{$font-path}/GTWalsheimPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "xp-icons";
  font-style: normal;
  font-weight: normal;
  src:
    local("xp-icons"),
    url("#{$font-path}/xp-icons.woff2") format("woff2");
}

.heading:hover .heading-link {
  visibility: visible;
  opacity: 1;
}

.heading-link {
  visibility: hidden;
  opacity: 0;
  cursor: pointer;
  margin-left: 2px;
  font-size: 1em;
  color: #2b2422;
  transition:
    margin-left 0.25s,
    visibility 0.25s,
    opacity 0.25s,
    color 0.2s;
  transition-timing-function: linear;
  text-decoration: none;

  &:before {
    font-family: "xp-icons";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    content: "\e962";
  }
}
