.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.gap-3 {
  gap: 3rem;
}

.target-bg:target {
  background-color: var(--bg-target);
}

.no-wrap {
  white-space: nowrap;
}

@include media-breakpoint-up(md) {
  .w-md-100 {
    width: 100%;
  }
}
