:root {
  --bg-purple-100: #{$purple-100};
  --bg-purple-300: #{$purple-300};
}

.bg-purple-100 {
  background-color: var(--bg-purple-100);
}

.bg-purple-300 {
  background-color: var(--bg-purple-300);
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.gap-3 {
  gap: 3rem;
}

.target-bg:target {
  background-color: var(--bg-target);
}

@include media-breakpoint-up(md) {
  .w-md-100 {
    width: 100%;
  }
}
