@using Kentico.Community.Portal.Web.Features.Members.Components.MemberProfileDisplay
@model ProfileRenderModel

<div class="alert alert-info d-flex align-items-center mb-4" role="alert">
    <i class="bi bi-info-circle fs-4 me-3"></i>
    <div>
        <strong>Archived Account:</strong> This member is no longer active in the community.
    </div>
</div>

<partial name="~/Features/Members/Components/MemberProfileDisplay/Standard.cshtml" model="Model" />
