<section class="c-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-10 col-xxl-9">
        <widget-zone />
      </div>
    </div>
  </div>
</section>


