@using EnumsNET
@using Kentico.Community.Portal.Web.Features.QAndA.Search

@model QAndASearchViewModel

@{
    string formID = "qAndASearchForm";
}

<section class="c-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-6 col-md-4">
                <a href="/q-and-a/new-question" rel="nofollow" class="btn btn-outline-primary w-100 d-inline-block">
                    <svg class="c-icon me-1">
                        <use xlink:href="/img/icons.svg#plus-circle" asp-append-version></use>
                    </svg>
                    <span class="text-uppercase">New question</span>
                </a>
            </div>
        </div>

        <form id="@formID" class="mt-3" method="get" hx-get="/q-and-a" hx-swap="outerHTML" hx-select="#@formID"
            hx-push-url="true" hx-trigger="change from:input[type='checkbox'], change from:select, submit">
            <fieldset class="grid">
                <partial name="~/Features/QAndA/Search/_Filters.cshtml" model="Model" />

                <div class="g-col-12 g-col-lg-9 d-flex flex-column gap-2">
                    <partial name="~/Features/QAndA/Search/_FiltersMobile.cshtml" model="Model" />

                    <partial name="~/Features/QAndA/Search/_Results.cshtml" model="Model" />
                </div>
            </fieldset>

            <script type="module">
                asyncReady(async () => {
                    const path = @JSEncoder.EncodeToJson(ClientAssets.ViteAssetPath("js/search.js"));
                    const search = await import(path);

                    search.initSearch({
                        formElemID: '@formID'
                    });
                });
            </script>
        </form>
    </div>
</section>