@using EnumsNET
@using Kentico.Community.Portal.Web.Features.QAndA.Search

@model QAndASearchViewModel

<div class="container mb-5">
    <form id="search" method="get" hx-get="/q-and-a" hx-swap="outerHTML" hx-select="#results" hx-target="#results"
        hx-push-url="true" hx-trigger="submitReady" hx-select-oob="#filters" hx-disabled-elt="find fieldset">
        <fieldset class="grid">
            <input asp-for="@Model.Page" />
            <partial name="~/Features/QAndA/Search/_Filters.cshtml" model="Model" />

            <section id="results" class="g-col-12 g-col-lg-9 d-flex flex-column gap-4">
                <div class="d-flex align-items-center gap-4 flex-wrap flex-lg-nowrap">
                    <div class="d-lg-none w-100">
                        <a href="/q-and-a/new-question" rel="nofollow"
                            class="btn btn-outline-primary w-100 d-inline-block">
                            <svg class="c-icon me-1">
                                <use xlink:href="/img/icons.svg#plus-circle" asp-append-version></use>
                            </svg>
                            <span class="text-uppercase">New discussion</span>
                        </a>
                    </div>

                    <div class="d-flex flex-lg-row flex-column gap-2 w-100">
                        <input asp-for="Query" type="search" class="form-control search rounded-pill flex-grow-1"
                            placeholder="Search by tag, name or phrase" aria-label="Search"
                            aria-describedby="submitSearch">
                        <button class="btn btn-primary text-uppercase" type="submit" id="submitSearch">Search</button>
                    </div>

                    <partial name="~/Features/QAndA/Search/_FiltersMobile.cshtml" model="Model" />
                </div>

                <partial name="~/Features/QAndA/Search/_Results.cshtml" model="Model" />
            </section>
        </fieldset>
    </form>
</div>
