@using Kentico.Community.Portal.Web.Components.PageBuilder.Widgets.AccountRecovery

@model ResetPasswordWidgetViewModel

<div class="row g-0 border rounded-4 overflow-hidden">
    <div class="col-md-6">
        <div class="p-4 p-lg-5">
            <h2 class="mb-4">Choose your new password</h2>
            <partial name="~/Components/PageBuilder/Widgets/AccountRecovery/_ResetPasswordForm.cshtml"
                     model="Model.Form" />
        </div>
    </div>

    <div class="col-md-6 bg-light">
        <div class="p-4 p-lg-5">
            <h2>Remember your password?</h2>
            <p class="mb-4">Sign in to your account to continue.</p>
            <a href="/login" class="btn btn-outline-secondary mb-4">Sign in</a>
        </div>
    </div>
</div>