@model Kentico.Community.Portal.Web.Components.PageBuilder.Widgets.Markdown.MarkdownWidgetViewModel

<div xpc-preview-outline="@Model.ComponentName" xpc-preview-outline-remove-element="true">
    @Model.HTML
</div>