@using Kentico.Community.Portal.Web.Components.ViewComponents.Navigation

@model NavigationViewModel

<header id="header" class="sticky-top" data-ktc-search-exclude>
    @if (View.PageBuilderMode != ApplicationPageBuilderMode.Edit)
    {
        <vc:cookie-banner />
    }

    <nav class="navbar navbar-expand-md c-main-navbar">
        <div id="navbar-container" class="container-xxl">
            <a class="navbar-brand" href="/">
                <img src="/img/logo.svg" alt="Kentico" />
            </a>
            <div class="d-block d-md-none">
                <button class="btn position-relative p-2 mx-3" id="notificationBellMobile">
                    <svg class="icon">
                        <use xlink:href="/img/icons.svg#bell" asp-append-version />
                    </svg>
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill d-none"
                          theme="danger" notification-count>0</span>
                </button>
                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar"></span>
                    <span class="navbar-toggler-bar"></span>
                    <span class="navbar-toggler-bar"></span>
                </button>
            </div>
            <div class="d-none d-md-block">
                <ul class="c-main-nav navbar-nav ms-auto">
                    <partial name="~/Components/ViewComponents/Navigation/_NavItems.cshtml" model="Model.NavItems" />
                    <partial name="~/Components/ViewComponents/Navigation/_NavAuth.cshtml" />

                    <li class="nav-item d-flex align-items-center">
                        <button class="btn position-relative p-2 mx-3" id="notificationBell">
                            <svg class="icon d-none d-md-block">
                                <use xlink:href="/img/icons.svg#bell" asp-append-version />
                            </svg>
                            <span
                            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger d-none"
                            theme="danger" notification-count>0</span>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="collapse navbar-collapse position-static d-md-none" id="navbarNavDropdown">
        <ul class="c-main-nav navbar-nav ms-auto">
            <partial name="~/Components/ViewComponents/Navigation/_NavItems.cshtml" model="Model.NavItems" />

            @if (User.Identity?.IsAuthenticated != true)
            {
                <li class="nav-item with-btn">
                    <a class="btn btn-primary btn-lg text-uppercase" href="/login?returnURL=@Context.Request.Path"
                       test-id="signInMobile">Sign in</a>
                </li>
            }
            else
            {
                <li class="nav-item d-flex justify-content-around py-3">
                    <a href="/my-account" class="btn btn-primary text-uppercase">
                        My Account
                    </a>
                    <form asp-controller="Logout" asp-action="Logout" method="post">
                        <button class="btn btn-outline-secondary text-uppercase w-100" type="submit"
                                test-id="logoutMobile">Logout</button>
                    </form>
                </li>
            }
        </ul>
    </div>

    <vc:notification-tray />

</header>