@using Kentico.Community.Portal.Web.Components.Widgets.FallbackForm
@using Kentico.Forms.Web.Mvc;
@using Kentico.Forms.Web.Mvc.Widgets.Internal

@model Kentico.Forms.Web.Mvc.Widgets.FormWidgetViewModel

@{
    if (Model.FormConfiguration == null)
    {
        <h3 class="no-form-selected">@ResHelper.GetString("kentico.formbuilder.widget.noformselected")</h3>
    }
}

@* We replace the <form> with a <div> to prevent spam submissions of the programmatically functional form *@
@if (Model.FormConfiguration is not null && FallbackFormWidget.GetIsFormHidden(ViewData))
{
    <div class="fallback-form">
        @{
            var markup = await Html.Kentico().FormFieldsAsync(Model);
            @markup

            var button = Html.Kentico().FormSubmitButton(Model);
            @button
        }
    </div>

    return;
}

@using (Html.Kentico().BeginForm(Model))
{
    var markup = await Html.Kentico().FormFieldsAsync(Model);
    @markup

    var button = Html.Kentico().FormSubmitButton(Model);
    @button
}
