@model Kentico.Community.Portal.Web.Components.Widgets.PageHeading.PageHeadingWidgetViewModel

<div class="main">
  <h3 class="text-center k-dot">@Model.Title</h3>
    @if (Model.Message is string message)
    {
      <p class="text-center fs-4">@message</p>
    }
</div>

