.c-card {
  display: block;
  color: inherit;
  text-decoration: inherit;
  font-size: 0.875rem;
  // background-color: $white;
  transition: 0.2s background-color ease;
  padding: 1rem;

  --default-border-color: $gray-200;

  &.default-border {
    &.success {
      --default-border-color: var(--bs-success);
    }
    border: 1px solid var(--default-border-color);
    border-radius: $border-radius-lg;
  }
  &_inner {
    &.grid {
      display: grid;
    }
  }
  &_num {
    grid-area: card-num;
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    justify-content: flex-end;
    text-align: right;
  }
  &_icon {
    grid-area: card-icon;
  }
  &_title {
    grid-area: card-title;
  }
  &_content {
    grid-area: card-content;
    align-self: center;
  }
  &_footer {
    grid-area: card-footer;
    align-self: center;
  }
  &_tags {
    grid-area: card-tags;
  }
  h3,
  .h3 {
    margin-bottom: 0;
    a {
      text-decoration: inherit;
      color: inherit;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  h4 {
    a {
      color: inherit;
    }
  }
  p {
    margin-bottom: 0;
    & + p {
      margin-top: 1rem;
    }
  }

  &.widget {
    display: flex;
    .c-card {
      &_inner {
        display: flex;
        flex-direction: column;
      }
      &_icon {
        &,
        img {
          width: 40px;
          height: 40px;
          border-radius: 20px;
        }
      }
    }
  }

  &.article {
    background: $purple-100;
    padding: 1rem;
    border-radius: $border-radius-lg;
    &:has(.c-card_title a:hover) {
      color: inherit;
      background: $purple-300;
    }
    .c-card {
      &_inner {
        &.grid {
          gap: 0.375rem;
          grid-template-columns: 100%;
          grid-template-rows: 40px auto auto auto auto;
          grid-template-areas: "card-icon" "card-title" "card-footer" "card-content" "card-tags";
        }
      }
      &_icon {
        width: 40px;
        height: 40px;
        border-radius: 0.75rem;
        display: flex;
        align-items: center;

        justify-content: center;
        background: $white;
        img,
        .c-icon {
          width: 21px;
          height: 21px;
          color: $secondary;
        }
      }
      &_footer {
        display: flex;
        align-items: center;
      }
      &_title,
      &_content,
      &_tags {
        padding-top: 0.625rem;
      }
      &_title {
        a:hover {
          text-decoration: none;
        }
      }
    }
    .c-note {
      font-size: 0.75rem;
    }
    &.nopic {
      .c-card {
        &_inner {
          &.grid {
            grid-template-rows: auto auto auto auto;
            grid-template-areas: "card-title" "card-footer" "card-content" "card-tags";
          }
        }
      }
    }
    @include media-breakpoint-up(sm) {
      .c-card {
        &_inner.grid {
          gap: 0.5rem;
          grid-template-columns: 64px auto auto;
          grid-template-rows: auto auto auto;
          grid-template-areas:
            "card-icon card-title card-title"
            "card-icon card-content card-content"
            "card-icon card-tags card-footer";
        }
        &_icon {
          width: 56px;
          height: 56px;
          border-radius: 1rem;
        }
        &_footer {
          justify-content: flex-end;
          .c-note {
            white-space: nowrap;
          }
        }
        &_title,
        &_content {
          padding-top: 0;
        }
        &_tags,
        &_footer {
          padding-top: 0.5rem;
        }
      }
      &.nopic {
        padding: 1rem 1.5rem;
        .c-card {
          &_inner {
            &.grid {
              grid-template-columns: auto auto;
              grid-template-rows: auto auto;
              grid-template-areas:
                "card-title card-title"
                "card-content card-content"
                "card-tags card-footer";
            }
          }
        }
      }
    }
  }

  &.widget-detail {
    padding: 1.5rem;
    .c-group.tags {
      flex-wrap: wrap;
      .c-tag {
        margin-top: 0.5rem;
      }
    }
    .c-card {
      &_inner {
        &.grid {
          gap: 0.5rem;
          grid-template-columns: 100%;
          grid-template-rows: 40px auto;
          grid-template-areas: "card-icon" "card-content";
        }
      }
      &_icon {
        width: 40px;
        height: 40px;
        border-radius: 0.75rem;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 40px;
          height: 40px;
          border-radius: 0.75rem;
        }
      }
      &_content {
        padding-top: 0.625rem;
      }
    }
    .c-note {
      font-size: 0.875rem;
    }
    @include media-breakpoint-up(sm) {
      .c-card {
        &_inner.grid {
          gap: 0.75rem;
          grid-template-columns: 64px auto;
          grid-template-rows: auto;
          grid-template-areas: "card-icon card-content";
        }
        &_icon {
          width: 56px;
          height: 56px;
          border-radius: 1rem;
          img {
            width: 56px;
            height: 56px;
            border-radius: 1rem;
          }
        }
        &_content {
          padding-top: 0;
        }
      }
    }
  }

  &.question {
    padding: 1.125rem 1.125rem 1rem;
    .c-card {
      &_inner.grid {
        gap: 0.5rem;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        grid-template-areas:
          "card-icon card-footer"
          "card-content card-content";
      }
      &_title {
        a {
          transition: 0.15s color ease;
          &:hover {
            color: $primary;
            text-decoration: none;
          }
        }
      }
      &_icon {
        font-size: 1.125rem;
        color: $primary;
      }
      &_footer {
        font-size: 0.875rem;
        display: flex;
        align-items: baseline;
        justify-content: flex-end;
        text-align: center;
        & > div + div {
          margin-left: 0.25rem;
        }
      }
    }
    @include media-breakpoint-up(sm) {
      padding: 1.125rem 1.625rem 1.375rem;
      .c-card {
        &_inner.grid {
          grid-template-columns: 18px auto 10rem;
          grid-template-rows: auto;
          grid-template-areas: "card-icon card-content card-footer";
        }
        &_footer {
          flex-direction: column;
          justify-content: center;
          align-items: center;
          & > div + div {
            margin-left: 0;
          }
        }
      }
    }
  }

  &.sidebar {
    padding: 1.5rem;
    h3,
    .h3,
    h4,
    .h4 {
      .c-icon {
        margin-right: 0.25rem;
      }
    }
  }

  &.leaderboard,
  &.author {
    h2,
    .h2,
    h3,
    .h3,
    h4,
    .h4 {
      a {
        text-decoration: none;
        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }
    }
  }

  &.author {
    .c-card {
      &_inner.grid {
        gap: 1rem;
        grid-template-columns: 3rem auto 4rem;
        grid-template-areas: "card-icon card-content card-footer";
      }
      &_icon {
        align-self: center;
        img {
          width: 3rem;
          height: 3rem;
          border-radius: 50%;
        }
      }
      &_footer {
        .c-icon {
          font-size: 1.5rem;
        }
      }
    }
    @include media-breakpoint-down(sm) {
      .c-card {
        &_inner.grid {
          grid-template-columns: 3rem auto;
        }
        &_footer {
          display: none;
        }
      }
    }
    &.no-footer {
      .c-card {
        &_inner.grid {
          grid-template-columns: 3rem auto;
        }
      }
    }

    &.list {
      .c-card {
        &_inner.grid {
          gap: 0.5rem;
          grid-template-columns: 0.875rem 2rem auto;
          grid-template-areas:
            "card-num card-icon card-content"
            "card-footer card-footer card-footer";
        }
        &_icon {
          img {
            width: 2rem;
            height: 2rem;
          }
        }
        &_footer {
          display: block;
          margin-top: 0.375rem;
          .btn {
            width: 100%;
          }
        }
      }
      @include media-breakpoint-down(sm) {
        border: none;
        position: relative;
        &:before,
        &:after {
          content: "";
          display: block;
          position: absolute;
          height: 0;
          border-top: 1px solid $gray-200;
          left: -50%;
          right: -50%;
        }
        &:before {
          top: 0;
        }
        &:after {
          bottom: 0;
        }
        & + & {
          &:before {
            content: none;
            display: none;
          }
        }
        .c-card {
          &_num {
            justify-content: flex-start;
            font-size: 0.875rem;
          }
          &_content {
            h4,
            .h4 {
              font-size: 0.875rem;
            }
            p {
              font-size: 0.75rem;
            }
          }
        }
      }
      @include media-breakpoint-up(sm) {
        .c-card {
          &_inner.grid {
            gap: 1rem;
            grid-template-columns: 1.25rem 3.5rem auto 10rem;
            grid-template-areas: "card-num card-icon card-content card-footer";
          }
          &_icon {
            img {
              width: 3.5rem;
              height: 3.5rem;
            }
          }
          &_footer {
            margin-top: 0;
          }
        }
      }
    }
  }

  &.leaderboard {
    .c-card {
      &_inner.grid {
        gap: 0.5rem;
        grid-template-columns: 0.875rem 2rem auto 4rem;
        grid-template-areas: "card-num card-icon card-content card-footer";
      }
      &_icon {
        align-self: center;
        img {
          width: 2rem;
          height: 2rem;
        }
      }
      &_footer {
        text-align: right;
      }
    }
    @include media-breakpoint-down(sm) {
      border: none;
      position: relative;
      &:before,
      &:after {
        content: "";
        display: block;
        position: absolute;
        height: 0;
        border-top: 1px solid $gray-200;
        left: -50%;
        right: -50%;
      }
      &:before {
        top: 0;
      }
      &:after {
        bottom: 0;
      }
      & + & {
        &:before {
          content: none;
          display: none;
        }
      }
      .c-card {
        &_num {
          justify-content: flex-start;
          font-size: 0.875rem;
        }
        &_content {
          h4,
          .h4 {
            font-size: 0.875rem;
          }
          p {
            font-size: 0.75rem;
          }
        }
      }
    }
    @include media-breakpoint-up(sm) {
      .c-card {
        &_inner.grid {
          gap: 1rem;
          grid-template-columns: 1.25rem 3.5rem auto 5rem;
          grid-template-areas: "card-num card-icon card-content card-footer";
        }
        &_icon {
          img {
            width: 3.5rem;
            height: 3.5rem;
          }
        }
      }
    }
  }

  &.large {
    border-radius: $border-radius-lg;
    @include media-breakpoint-up(md) {
      padding: 2.75rem 2.5rem 3.75rem;
    }

    &.secondary {
      background: $secondary;
      color: $white;
    }
  }

  &.version {
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.625rem;
    text-align: center;
    border-radius: $border-radius;
    &.active {
      border-color: $secondary;
    }
  }
}
