.hideable-form[overlay] {
  position: relative;
  max-height: 300px;
  overflow: hidden;

  .fallback-content {
    top: 0;
    left: 0;
    background: linear-gradient(
      to bottom,
      color-mix(in srgb, var(--fallback-form-bg-color) 80%, transparent) 30%,
      var(--fallback-form-bg-color) 100%
    );
    pointer-events: auto;
  }
}
