.c-group{
  &.tags{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: -.5rem;
    .c-tag{
      margin-right: .5rem;
      margin-top: .5rem;
    }
  }

  &.versions{
    .c-group_inner{
      display: flex;
      flex-wrap: wrap;
      margin: -.25rem;
    }
    .btn{
      padding-left: .5rem;
      padding-right: .5rem;
      width: 6.25rem;
      white-space: nowrap;
      margin: .25rem;
    }
  }

  &.authors{
    .c-card{
      &:not(:first-of-type){
        border-top: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
      &:not(:last-of-type){
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }
}