#header {
  background: $white;
  transition: 0.2s box-shadow;
  border-bottom: 1px solid transparentize($gray-400, 0.5);
  &.scrolled {
    box-shadow:
      0 8px 32px rgba(16, 33, 60, 0.24),
      0 0 8px rgba(0, 0, 0, 0.03);
    border-bottom: none;
  }
  .navbar-toggler {
    margin-bottom: 0.75rem;
    margin-left: 1rem;
    margin-right: -1rem;
  }

  @media (min-width: (map-get($grid-breakpoints, md) - 0.02)) {
    .nav-item.with-btn {
      display: none;
    }
  }

  @include media-breakpoint-down(lg) {
    .c-main-navbar {
      padding-top: 1rem;
      padding-bottom: 0.875rem;
    }
  }
  @include media-breakpoint-down(md) {
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 4.5rem;
      left: 0;
      right: 0;
      height: 0;
      border-top: 1px solid transparentize($gray-500, 0.5);
      opacity: 0;
      transition: 0.15s opacity;
    }
    &.mobile-nav-open {
      box-shadow:
        0 8px 32px rgba(16, 33, 60, 0.24),
        0 0 8px rgba(0, 0, 0, 0.03);
      &:after {
        opacity: 1;
      }
    }
    .c-main-navbar {
      padding-bottom: 0;
      padding-top: 0.625rem;
    }
    .navbar-brand {
      margin-bottom: 1rem;
      margin-top: 0.25rem;
    }
  }
  @include media-breakpoint-up(lg) {
    .c-main-navbar {
      padding-bottom: 1.375rem;
    }
  }
}
