.c-icon {
    display: inline-block;
    height: 1em;
    width: 1em;
    vertical-align: top;

    &.chevron {
        margin-top:-2px;
    }

    .btn & {
        font-size: 1.25rem;
        margin-top: -3px;
    }

    .btn-lg & {
        font-size: 1.375rem;
        margin-right: .25rem;
        margin-top: 0;
    }

    .btn-social & {
        font-size: 1.5rem;
        margin-top: 0;
    }
}
