.c-icon {
  --internal-font-size: var(--icon-font-size, 1em);

  display: inline-block;
  height: var(--internal-font-size);
  width: var(--internal-font-size);
  vertical-align: top;

  &.chevron {
    margin-top: -2px;
  }

  .btn & {
    font-size: 1.25rem;
    margin-top: -3px;
  }

  .btn-lg & {
    font-size: 1.375rem;
    margin-right: 0.25rem;
    margin-top: 0;
  }

  .btn-social & {
    font-size: 1.5rem;
    margin-top: 0;
  }
}
