/* 
 * Layout and page structure styles
 */

#pageContent {
  min-height: calc(100vh - 12.25rem);

  @include media-breakpoint-up(lg) {
    min-height: calc(100vh - 13.75rem);
  }
}

/* 
 * Support page sidebar layout
 * Uses Bootstrap grid with fixed sidebar widths
 */

.support-sidebar {
  @include media-breakpoint-up(lg) {
    width: 18rem !important;
  }

  @include media-breakpoint-up(xl) {
    width: 22rem !important;
  }
}

.content-wrapper {
  min-height: calc(100vh - var(--header-height, 12.5rem));

  @include media-breakpoint-up(xl) {
    min-height: calc(100vh - var(--header-height-xl, 14rem));
  }
}
