.c-link {
  font-weight: 500;
  color: $primary;
  text-decoration: none;
  position: relative;
  transition: 0.2s color;
  margin-bottom: 0.25rem;
  display: inline-block;
  text-transform: uppercase;

  .c-icon {
    transform: translateY(-0.0625rem);
    stroke: $primary;
    vertical-align: middle;
    transition: 0.2s stroke;
  }

  &:after {
    content: "";
    font-weight: 500;
    position: absolute;
    bottom: -0.1875rem;
    height: 0.1em;
    right: 1.25rem;
    left: 0;
    transition: 0.2s background-color;
  }

  &:hover:after {
    background-color: $primary;
  }

  &.silent {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  &.inherit {
    color: inherit;
    font-weight: inherit;
    font-size: inherit;
  }
}

a.btn:hover {
  text-decoration: none;
}
