ol,
ul {
  padding-left: 2.5rem;
}

.licenses-list {
  &.default {
    list-style: none;
    position: relative;
    li {
      position: relative;
      &:before {
        content: "";
        width: 0.25rem;
        height: 0.25rem;
        border-radius: 50%;
        background: $black;

        position: absolute;
        display: block;
        left: -1.125rem;
        top: 0.625rem;
      }

      & > .licenses-list {
        &.default {
          li {
            &:before {
              background: transparent;
              border: 1px solid $black;
            }
          }
        }
      }
    }
  }
}
