.c-table{
  &.with-border{
    .c-table{
      &_head{
        border: 1px solid $gray-200;
        border-bottom: none;
        border-radius: 2rem .75rem 0 0;
      }
      &_body{
        border: 1px solid $gray-200;
        border-top: none;
        border-radius: 0 0 2rem .75rem;
      }
    }
  }
  &.grid{

    .c-table{
      &_head{
        background: $gray-100;
        font-weight: 500;
        .c-table{
          &_row{
            padding: .5rem 1.5rem;
          }
        }
        &+.c-table_body{
          border-top: 1px solid $gray-200;
        }
      }
      &_body{
        .c-table{
          &_row{
            padding: 1rem 1.5rem;
            &+.c-table_row{
              border-top: 1px solid $gray-200;
            }
          }
        }
      }
      &_row{
        display: grid;
        gap: 1rem;
      }

      &_cell{
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        &:nth-child(1){
          grid-area: c1;
        }
        &:nth-child(2){
          grid-area: c2;
        }
        &:nth-child(3){
          grid-area: c3;
        }
        &:nth-child(4){
          grid-area: c4;
        }
        &:nth-child(5){
          grid-area: c5;
        }
      }
    }

    &.version-downloads{
      .c-table{
        &_head{
          .c-table_row{
            grid-template-areas: "c1 c2";
          }
        }
        &_row{
          gap: .625rem;
          grid-template-areas: "c1 c2" "c3 c3";
          grid-template-columns: auto auto;
          &>.c-table_cell:nth-child(2){
            justify-content: flex-end;
          }
        }

        @include media-breakpoint-up(sm){
          &_row{
            grid-template-areas: "c1 c2 c3";
            grid-template-columns: 9.5rem auto 8.625rem;
            &>.c-table_cell:nth-child(2){
              justify-content: flex-start;
            }
          }
          &_head{
            .c-table_row{
              grid-template-areas: "c1 c2 c3";
            }
          }
        }
      }
      .btn{
        width: 100%;
      }
    }

    &.documentation{
      .c-table{
        &_row{
          gap: .5rem;
          grid-template-areas: "c1" "c2";
          grid-template-columns: 100%;
          @include media-breakpoint-up(sm){
            gap: 1rem;
            grid-template-areas: "c1 c2";
            grid-template-columns: auto 6.5rem;
          }
        }
        &_cell{
          align-items: flex-start;
        }
      }
      .btn{
        width: 100%;
      }
    }

    &.changes{
      .c-table{
        &_head{
          display: none;
        }
        &_row{
          gap: .5rem;
          grid-template-areas: "c2" "c1";
          grid-template-columns: 100%;
        }
      }
      @include media-breakpoint-down(sm){
        .c-table{
          &_head{
            border: none;
          }
          &_body{
            border: none;
            .c-table_row{
              border: 1px solid $gray-200;
              border-radius: 2rem .75rem 2rem .75rem;
              &+.c-table_row{
                margin-top: 1rem;
              }
              &.filter{
                border: none;
                padding: 0;
                grid-template-areas: "c1" "c2";
              }
            }
          }
        }
      }
      @include media-breakpoint-up(sm){
        .c-table{
          &_head{
            display: block;
          }
          &_row{
            gap: 1rem;
            grid-template-areas: "c1 c2";
            grid-template-columns: auto 8.5rem;
          }
          &_body{
            .c-table_row{
              &.filter{
                .form-control.search{
                  max-width: 30.625rem;
                }
              }
            }
          }
        }
      }
    }
  }
}

.accordion-item{
  .c-table{
    border: none;
  }
}