@using Kentico.Community.Portal.Web.Features.Home

@model ComponentViewModel<HomePageTemplateProperties>

<vc:home-page-heading page="Model.Page" />

<main>
    <editable-area area-identifier="top" allow-widget-output-cache="View.CacheEnabled"
        widget-output-cache-expires-after="TimeSpan.FromMinutes(5)" />
</main>
