@using Kentico.Community.Portal.Web.Features.Home

@model TemplateViewModel<HomePageTemplateProperties>

@{
    var templateModel = Model.GetTemplateModel<HomePage>();
}

<vc:page-heading page="templateModel" />

<main>
    <editable-area area-identifier="top" allow-widget-output-cache="View.CacheEnabled"
        widget-output-cache-expires-after="TimeSpan.FromMinutes(5)" />
</main>
