@using Kentico.Community.Portal.Web.Components.Widgets.CTAButton

@model CTAButtonWidgetViewModel

@{
    string horizontalAlignmentClass = Model.HorizontalAlignment switch
    {
        HorizontalAlignments.Center => "text-center",
        HorizontalAlignments.Left or _ => ""
    };
}

<p class="@horizontalAlignmentClass">
    <a href="@(Model.LinkURL ?? "#")" class="btn btn-primary btn-lg px-4 d-inline ">
        @Model.Text
    </a>
</p>
