<?xml version="1.0" encoding="utf-8"?>
<RepositoryConfiguration xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" Version="2">

    <IncludedObjectTypes>
        <IncludeAll />
    </IncludedObjectTypes>

    <ExcludedObjectTypes>
        <!-- <ObjectType>CMS.SettingsKey</ObjectType>
        <ObjectType>CMS.ScheduledTaskConfiguration</ObjectType> -->
    </ExcludedObjectTypes>

    <IncludedContentItemsOfType>
        <!-- Includes all supported content items by default -->
        <IncludeAll />
    </IncludedContentItemsOfType>

    <ObjectFilters>
        <!-- <IncludedCodeNames ObjectType="CMS.SettingsKey">%</IncludedCodeNames>
        <IncludedCodeNames ObjectType="CMS.ScheduledTaskConfiguration">%</IncludedCodeNames> -->
        <ExcludedCodeNames ObjectType="CMS.SettingsKey">CMSInstanceID</ExcludedCodeNames>
        <ExcludedCodeNames ObjectType="CMS.ScheduledTaskConfiguration">LicenseReporter</ExcludedCodeNames>
    </ObjectFilters>

</RepositoryConfiguration>