<?xml version="1.0" encoding="utf-8"?>
<RepositoryConfiguration xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <!-- After changing the included or excluded object types, you need to run serialization for all objects to bring 
       the repository folder into the required state. Use the CLI and execute the store command for Continuous Integration or Deployment.
	   Always synchronize the repository.config along with the other content of the repository folder. -->

    <!-- To learn which object types can be used in the IncludedObjectTypes and ExcludedObjectTypes definitions,
       visit the documentation: https://devnet.kentico.com/CMSPages/DocLinkMapper.ashx?version=xp&link=ci_object_types -->

    <!-- If one or more main object types are specified, only objects of the given type and their child types are processed. 
       All supported object types are included if empty. -->
    <IncludedObjectTypes>
        <!-- <ObjectType>ObjectTypeA</ObjectType> -->
        <!-- <ObjectType>ObjectTypeB</ObjectType> -->
    </IncludedObjectTypes>

    <!-- Excluded object types filter the set of included object types. The specified object types are excluded from processing. 
	   May include both main and child object types. -->
    <ExcludedObjectTypes>
        <!-- Settings may contain sensitive data and are excluded by default.
         Only remove the exclusion if you agree to make setting values available within the file system used by the application
         and any connected systems. -->
    </ExcludedObjectTypes>

    <!-- You can exclude objects from processing by adding included or excluded code names for any object type. 
       Use the % wildcard at the start or end of the values to include or exclude multiple objects based on code name prefixes or suffixes.
       You can add multiple code name values separated by semicolons for each object type. -->
    <ObjectFilters>
        <!-- If one or more code names are included, only objects matching the specified code names are included. Other objects are not processed. 
         All objects are included if empty. -->
        <!-- <IncludedCodeNames>IncludedCodeNameA;IncludedCodeNameB</IncludedCodeNames> -->
        <!-- <IncludedCodeNames ObjectType="ObjectTypeB">IncludedCodeNamePrefix%;%IncludedCodeNameSuffix</IncludedCodeNames> -->

        <!-- Excluded code names add further filtering for the set of included objects. Objects that match the specified code names are excluded from processing. -->
        <!-- <ExcludedCodeNames ObjectType="ObjectTypeA">ExcludedCodeNameA;ExcludedCodeNameB</ExcludedCodeNames> -->
        <!-- <ExcludedCodeNames>ExcludedCodeNamePrefix%;%ExcludedCodeNameSuffix</ExcludedCodeNames> -->
    </ObjectFilters>

</RepositoryConfiguration>