@using Kentico.Community.Portal.Web.Features.QAndA

@model TemplateViewModel<QAndALandingPageTemplateProperties>

@{
    var templateModel = Model.GetTemplateModel<QAndALandingPage>();
}

<vc:page-heading page="new(templateModel)" display-description="Model.Properties.DisplayPageDescription" />

<main>
    <editable-area area-identifier="top" allow-widget-output-cache="View.CacheEnabled"
        widget-output-cache-expires-after="TimeSpan.FromMinutes(5)" />

    <vc:q-and-a-search />

    <editable-area area-identifier="bottom" allow-widget-output-cache="View.CacheEnabled"
        widget-output-cache-expires-after="TimeSpan.FromMinutes(5)" />
</main>
