@model Kentico.Community.Portal.Web.Features.QAndA.QAndAQuestionPageViewModel

@{
    ClientAssets.RequirePrism();
}

<main>
    <section class="c-section default">
        <div class="container">

            <div class="row justify-content-center">
                <div class="col-xl-10 col-xxl-9">
                    <p>
                        <a href="/q-and-a">Back to Search</a>
                    </p>
                </div>
                <div class="col-xl-10 col-xxl-9">
                    <div role="main" x-data="answersListComponent">
                        <div class="mb-5">
                            <partial name="~/Features/QAndA/_QAndAQuestionDetail.cshtml" model="Model.Question" />
                        </div>

                        <div class="d-flex justify-content-between gap-1">
                            <h2 class="h3" data-ktc-search-exclude>Answers</h2>
                            <div class="d-flex gap-1" style="max-width: 300px">
                                <label for="answerOrder" class="form-label no-wrap align-self-center">Order by:</label>
                                <select id="answerOrder" class="form-select-sm" @@change="reorder"
                                    x-model="orderDirection">
                                    <option value="oldest">Oldest</option>
                                    <option value="newest">Newest</option>
                                    @if (Model.HasAcceptedAnswer)
                                    {
                                        <option value="acceptedAnswer">Accepted response, oldest</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div x-ref="list">
                            @foreach (var answer in Model.Answers)
                            {
                                <partial name="~/Features/QAndA/_QAndAAnswerDetail.cshtml" model="answer" />
                            }
                        </div>

                        @if (Model.Question.Permissions.Answer)
                        {
                            <partial name="~/Features/QAndA/Components/Form/_QAndAAnswerButton.cshtml"
                                model="@Model.Question.ID" />
                        }
                        else
                        {
                            <p data-ktc-search-exclude class="text-center mt-3">
                                To response this discussion, you have to
                                <a asp-controller="Authentication" asp-action="Login"
                                    asp-route-returnUrl="@Context.Request.Path">login first</a>.
                            </p>
                        }

                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
